<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>404 Not Found | <%=it.siteName%></title>

		<link href="<%=it.baseAssetsUrl%>/assets/css/min.css" rel="stylesheet" type="text/css">

		<style>
			.hero {
				background: #eee;
				padding: 20px;
				border-radius: 10px;
				margin-top: 1em;
			}

			.hero h1 {
				margin-top: 0;
				margin-bottom: 0.3em;
			}

			.c4 {
				padding: 10px;
				box-sizing: border-box;
			}

			.c4 h3 {
				margin-top: 0;
			}

			.c4 a {
				margin-top: 10px;
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<nav class="nav" tabindex="-1" onclick="this.focus()">
			<div class="container">
				<a class="pagename current" href="<%=it.baseUrl%>"><%=it.siteName%></a>
				<a href="#">One</a>
				<a href="#">Two</a> 
				<a href="#">Three</a>
			</div>
		</nav>
		<button class="btn-close btn btn-sm">×</button>
		<div class="container">
            <h1>404 Not Found</h1>
            <p>
                Sorry we can't find the document you are looking for.<br>
                Maybe it was deleted or removed by our admin.
            </p>
		</div>
	</body>
</html>